*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    /* padding: 1rem; */
    
    text-align: center;
}
h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.location{
    font-weight: bold;
    font-size: small;
    color: #c5f72b;
    margin-bottom: 1.5rem;
}
.bio{
    font-size: small;
    margin-bottom: 1rem;
}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid non;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 80%;
}
.buttons a:hover{
    transition: background-color .3s ease-in-out;
    background-color: #c5f72b;
    color: #141414;
}
.buttons a{
    text-decoration: none;
    font-weight: bold;
    margin-bottom: .5rem;
    color: #ffffff;
    background-color: #333333;
    width: 100%;
    padding: .7rem;
    border-radius: 5px;
    display: block;
}

.attribution{
    visibility: hidden;
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
}
.attribution a{
    text-decoration: none;
    color: #c5f72b;
}

@media (min-width: 0px) {
    .container{
        width: 21rem;
    
    }
    }
@media  (min-width: 769px) {
    .container{
        width: 21rem;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 22rem;
    }
}
